RewriteEngine on
RewriteCond %{HTTP_HOST} ^devigreja.opregador.kinghost.net$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.devigreja.opregador.kinghost.net$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]